<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<%- include('partials/header') %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">RVS Fee Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>  <a class="nav-item nav-link" href="/cashier">Cashier Portal</a>
    </div>
  </div>
</nav>

<div class="jumbotron centered">
  <div class="container">
    <i class="material-icons" style:>person</i>


    <h1 class="display-3">Student</h1>
    <hr>
    <a class="btn btn-info btn-lg" href="/userregister" role="button">Register</a>
    <a class="btn btn-warning btn-lg" href="/userlogin" role="button">Login</a>
  </div>
</div>


<%- include('partials/footer') %>
